@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing:inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}
.card{
    max-width:600px;
}
input{
    /* overflow: hidden; */
}